<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <!--<add name="cn1" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True"/>-->
    <add name="cn1" connectionString="Server=172.28.43.59;Database=Radiopaedia;Trusted_Connection=False;User Id=appuser;Password=rapiuploader;Connection Timeout=120"/>
  </connectionStrings>
  <appSettings>
    <add key="MonitorPath" value="E:\Temp\incorpmonitor"/>
    <add key="LocalAe" value="ANDY-DEV"/>
    <add key="DeviceAe" value="RADFILES2"/>
    <add key="DeviceIP" value="172.28.43.100"/>
    <add key="DevicePort" value="104"/>
  </appSettings>
    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>
  <!--<system.webServer>
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
    </staticContent>
  </system.webServer>-->
</configuration>
